{% extends "base.html" %}

{% block title %}
Articles for date {{ date }}
{% endblock %}

{% block header %}
Articles for date {{ date }}
{% endblock %}

{% block content %}

<div>
<h2>Number of articles: {{ num_articles }}</h2>
</div>

<div>
<table class="summary-table">
    <tr>
        <td><b>Source</b></td>
        <td><b>Number of articles</b></td>
    </tr>
    {% for source in num_articles_by_source %}
    <tr>
        <td><a href="/articles/source={{ source.source_name }}/date={{ date }}">{{ source.source_name }}</td>
        <td>{{ source.num_articles }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
