<!doctype HTML>
<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Recent Articles</title>
</head>

<body>
<div class="page">
  <h1>Similarities for article number {{ main_article.url_id }}</h1>
  <h2><a href="http://{{ main_article.url }}">{{ main_article.title }}</a></h2>
</div>
<div class="articles">
<table class="articles-table">
  <tr class="table-header">
    <td>View Cosines</td>
    <td>Similarity</td>
    <td>Article</td>
  </tr>
  {% for article in articles %}
  <tr class="articles-row">
    <td class="articles-entry"><a href="/cosine/{{ article.url_id }}">{{ article.url_id }}</td>
    <td class="articles-entry">{{ article.similarity }}</td>
    <td class="articles-entry"><a href="http://{{ article.url }}">{{ article.title }}</a></td>
  </tr>
  {% endfor %}
</table>
</div>
</body>

</html>
