{% extends "base.html" %}

{% block title %}
Today's Topics
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
Daily Topics {{ publish_date }} 
{% endblock %}

{% block content %}
This page contains information about today's topics.
<br>
To see a previous date, type a date into the form below.
<form action="/topics" method="GET">
    Format yyyy-mm-dd: <input type="text" name="publish_date" value="{{ publish_date }}"><br>
    <input type="submit" value="submit">
</form>
<br>

<h2>Articles by Source</h2>
The plot below shows the number of articles from each source.
{{ articles_by_source.div|safe }}
{{ articles_by_source.script|safe }}
<br>

<h2>Articles by Topic</h2>
The plot below shows the number of articles from each topic.
Only the top ten topics are shown.
{{ articles_by_topic.div|safe }}
{{ articles_by_topic.script|safe }}
<br>

{% endblock %}
