{% extends "base.html" %}

{% block title %}
View Single topic
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
Viewing Topic {{ topic }}
{% endblock %}

{% block content %}
This page contains information for browsing a single topic.
<br><br>
To view a different topic, type in a number between 0 and 99 in the box below.
<form action="/view-single-topic" method="GET">
    Topic: <input type="text" name="topic" value="{{ topic }}"><br>
    <input type="submit" value="submit">
</form>
<br><br>
Currently browsing topic {{ topic }}.
<br>
<b>Topic words:</b>
{% for word in topic_words %}
{{ word }}, 
{% endfor %}
<br>
Topic popularity over time:
<br>
{{ topic_popularity.div|safe }}
{{ topic_popularity.script|safe }}
<br>
Articles in this topic:
<br>
{% for date,articles in articles_dates %}
    <b>{{ date }}</b>
    <table class="summary-table">
    <tr>
        <td><b>Source</b></td>
        <td><b>Headline</b></td>
    </tr>
    {% for article in articles %}
        <tr>
            <td><a href="//{{ article.url }}">{{ article.source }}</a></td>
            <td>{{ article.title }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
{% endfor %}
{% endblock %}
