{% extends "base.html" %}

{% block title %}
View Single topic
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
Viewing Topic {{ topic }}
{% endblock %}

{% block content %}
<!-- topic name -->
<b>Words: </b>{{ topic_name }}
<br><br>

<!-- plot time series -->
{{ plot_time.div|safe }}
{{ plot_time.script|safe }}
<br><br>

<!-- list articles in this topic -->
{% for date, articles in dates_articles %}
    <!-- list the date -->
    <b>{{date}}</b>
    <br>

    <!-- put articles in a table -->
    <table class="summary-table">
        <!-- Header -->
        <tr>
            <td><b>Source</b></td>
            <td><b>Headline</b></td>
        </tr>

        <!-- Articles -->
        {% for article in articles %}
        <tr>
            <td><a href="//{{article.url}}">{{article.source}}</a></td>
            <td>{{article.title}}</td>
        </tr>
        {% endfor %}

    </table>

{% endfor %}

{% endblock %}
