{% extends "base.html" %}

{% block title %}
View Daily Topics
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
View Daily Topics
{% endblock %}

{% block content %}
This page contains information about today's topics.
<br>
To see a previous date, type a date into the form below.
<form action="/view-daily-topics" method="GET">
    Format yyyy-mm-dd: <input type="text" name="publish_date" value="{{ publish_date }}"><br>
    <input type="submit" value="submit">
</form>
<br><br>
{{ articles_by_topic_over_represented.div|safe }}
{{ articles_by_topic_over_represented.script|safe }}
<br><br>
{% for topic,articles,words in topics %}
    <b><a href="/view-single-topic?topic={{ topic }}">Topic {{topic}}</a></b>
    <br>
    {% for word in words %}{{word }} {% endfor %}
    <table class="summary-table">
    {% for article in articles %}
        <tr>
            <td>{{ article.date }}</td>
            <td><a href="//{{ article.url }}">{{ article.source }}</a></td>
            <td>{{ article.title }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
{% endfor %}
{% endblock %}
