{% extends "base.html" %}

{% block title %}
View All Topics
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
View All Topics
{% endblock %}

{% block content %}
This page contains information for exploring all the topics found by the model.

<!-- plot topics -->
{{ plot_topics.div|safe }}
{{ plot_topics.script|safe }}

<!-- list topics -->
{% for topic_ind, topic_count, topic_name in list_topics %}
<b><a href="/view-single-topic?topic={{topic_ind}}">Topic {{ topic_ind }}</a></b>
<br>

<b>Number of articles: {{ topic_count }}</b>
<br>

<b>Words: </b>{{ topic_name }}
<br>

<br>
{% endfor %}
{% endblock %}
