{% extends "base.html" %}

{% block title %}
View Daily Topics - {{ date }}
{% endblock %}

{% block links %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
        
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
{% endblock %}

{% block header %}
View Daily Topics - {{ date }}
{% endblock %}

{% block content %}
This page contains information about topics for a single date.

<!-- form to change date -->
<h3>Change Date</h3>
<form action="/view-daily-topics" method="get">
    Change date (format yyyy-mm-dd): <input type="text" name="date">
    <input type="submit" value="submit">
</form>

<!-- plot topics -->
<h3>Most Popular Topics</h3>
Score is calculated using (num articles today) / (num articles on average) for each topic.
{{ plot_topics.div|safe }}
{{ plot_topics.script|safe }}
<br>

<!-- list articles for this date, grouped by topics -->
<h3>Articles per topic on {{ date }}</h3>
{% for topic, topic_name, articles in topics_articles %}
    <!-- print the topic -->
    <b><a href="/view-single-topic?topic={{topic}}">Topic {{topic}}</a></b> - {{topic_name}}
    <br>

    <!-- put articles in a table -->
    <table class="summary-table">
        <!-- Articles -->
        {% for article in articles %}
        <tr>
            <td><a href="//{{article.url}}">{{article.source}}</a></td>
            <td>{{article.title}}</td>
        </tr>
        {% endfor %}

    </table>
    <br>

{% endfor %}

{% endblock %}
