{% extends "base.html" %}

{%- block image -%}
{{ url_for('static', filename='img/ark-covenant.jpg') }}
{%- endblock -%}

{% block header %}
Articles By Date
{% endblock %}

{% block subheader %}
Current Date: <b>{{ date }}</b>
{% endblock %}

{% block content %}

<div>
<h2>Number of articles: {{ num_articles }}</h2>
</div>

<div>
<table class="summary-table">
    <tr>
        <td><b>Source</b></td>
        <td><b>Number of articles</b></td>
    </tr>
    {% for source in num_articles_by_source %}
    <tr>
        <td><a class="table-link" href="/articles/source={{ source.source_name }}/date={{ date }}">{{ source.source_name }}</td>
        <td>{{ source.num_articles }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
