{% extends "base.html" %}

{%- block image -%}
{{ url_for('static', filename='img/ark-covenant.jpg') }}
{%- endblock -%}

{% block header %}
Articles by date and source
{% endblock %}

{% block subheader %}
Source: {{ source }}, Date: {{ date }}
{% endblock %}

{% block content %}

<div>
<h2>Number of articles: {{ num_articles }}</h2>
</div>

<div>
<table class="summary-table">
    <tr>
        <td><b>Article Title</b></td>
    </tr>
    {% for article in articles %}
    <tr>
        <td><a class="table-link" href="http://{{ article.url }}">{{ article.title }}</a></td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
