<table class="summary-table">
    <tr>
        <td><b>Source</b></td>
        <td><b>Headline</b></td>
    </tr>
    <tr>
        <td><a class="table-link" href="//cnn.com/2017/02/26/entertainment/oscars-2017/index.html">cnn</a></td>
        <td>Oscars 2017: &#39;Moonlight&#39; wins Best Picture after some confusion</td>
    </tr>
    <tr>
        <td><a class="table-link" href="//foxnews.com/entertainment/2017/02/26/oscars-2017-kick-off-with-jimmy-kimmel-poking-fun-at-trump.html">foxnews</a></td>
        <td>Oscar meltdown: &#39;La La Land&#39; mistakenly named best picture, &#39;Moonlight&#39; really wins</td>
    </tr>
    <tr>
        <td><a class="table-link" href="//npr.org/sections/thetwo-way/2017/02/26/516887719/2017-oscars-follow-along-as-the-winners-are-announced">npr</a></td>
        <td>Oscars 2017: &#39;Moonlight&#39; Wins Best Picture In A Shocking Final Twist : The Two-Way : NPR</td>
    </tr>
    <tr>
        <td><a class="table-link" href="//nytimes.com/2017/02/27/movies/moonlight-la-la-land-academy-awards-conversation.html">nytimes</a></td>
        <td>‘Moonlight,’ ‘La La Land’ and What an Epic Oscars Fail Really Says</td>
    </tr>
    <tr>
        <td><a class="table-link" href="//theguardian.com/film/2017/feb/27/anatomy-of-an-oscars-fiasco-how-la-la-land-was-mistakenly-announced-as-best-picture">theguardian</a></td>
        <td>Anatomy of an Oscars fiasco: how La La Land was mistakenly announced as best picture</td>
    </tr>
</table>
