{% extends "base.html" %}

{%- block image -%}
{{ url_for('static', filename='img/new-york-skyline.jpg') }}
{%- endblock -%}

{% block header %}
View All Topics
{% endblock %}

{% block subheader %}
Topics from the past two weeks
{% endblock %}

{% block content %}
This page contains information for exploring all the topics found by the model.

<!-- plot topics -->
{{ plot_topics.div|safe }}
{{ plot_topics.script|safe }}

<!-- list topics -->
{% for topic_ind, topic_count, topic_name in list_topics %}
<b><a class="table-link" href="/view-single-topic?topic={{topic_ind}}">Topic {{ topic_ind }}</a></b>
<br>

<b>Number of articles: {{ topic_count }}</b>
<br>

<b>Words: </b>{{ topic_name }}
<br>

<br>
{% endfor %}
{% endblock %}
