{% extends "base.html" %}

{% block title %}
News Analyzer
{% endblock %}

{% block header %}
News Analyzer
{% endblock %}

{% block content %}
<p>
Welcome to the News Analyzer!
This is a news app dedicated to analyzing recent news articles.
Not too much is completed yet, but hopefully the following features will be implemented soon:
</p>
<ul>
  <li>Recent Articles, a page displaying a raw list of recent articles used in the current analysis</li>
  <li>Topic Modeling, a page displaying major topics from recent news articles</li>
  <li>Clustering, a page displaying clusters from recent articles</li>
</ul>
{% endblock %}
