{% extends "base.html" %}

{% block title %}
Articles for source {{ source }}
{% endblock %}

{% block header %}
Articles for source {{ source }}
{% endblock %}

{% block content %}

<div>
<h2>Number of articles for source {{ source }}: {{ num_articles }}</h2>
</div>

<div>
<table class="summary-table">
    <tr>
        <td><b>Publish date</b></td>
        <td><b>Number of articles</b></td>
    </tr>
    {% for date in num_articles_by_date %}
    <tr>
        <td><a href="/articles/source={{ source }}/date={{ date.publish_date }}">{{ date.publish_date }}</td>
        <td>{{ date.num_articles }}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
